.App {
  text-align: center;
}

.App-header {
  --main-background-color: #282c34;
  background-color: var(--main-background-color);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Display {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Display h1 {
  position: relative;
  top: -3rem;
}

.Display .next-up {
  position: absolute;
  top: 3rem;
}

.Classifier {
  
}


h1 {
  --main-font-size: 10rem;
  font-size: var(--main-font-size);
}

.App-link {
  color: #61dafb;
}

.variant {
  font-size: 70%;
}

.superscript {
  font-size: 50%;
  position: relative;
  top: calc(-1 * var(--main-font-size) / 3);
}

.TimerBar {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.bar {
  background: gray;
  height: 0.3rem;
  margin-left: 0.3rem;
  width: 50%;
}

.bar:first-child {
  margin-left: 0;
}

.bar--active {
  background: white;
}

.Trainer {
  position: absolute;
  left: 5rem;
  right: 5rem;
  bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Trainer__Controls {
  margin-bottom: 1rem;
  display: flex;
}

.Trainer__Controls > label {
  margin-left: 0.3rem;
}

.Trainer__Controls > label:first-child {
  margin-left: 0;
}

h4 {
  color: white;
  margin-bottom: 0.2rem;
}

p {
  color: white;
}

.Trainer img {
  width: 320px;
}

label {
  color: white;
  font-size: 12px;
}

.ConfigureBpm {
  position: absolute;
  right: 20rem;
  bottom: 4rem;
}

.ConfigureTimeSignature {
  position: absolute;
  right: 7rem;
  bottom: 4rem;
}

.bpmInput, .beatUnitInput {
  background: transparent;
  color: white;
  border: none;
  font-size: 48px;
  width: 100px;
}

.beatUnitInput {
  width: 70px;
}

.bpmInput:focus, .beatUnitInput:focus {
  outline: none;
}

.bpmInput + span, .beatUnitInput + span {
  color: white;
  position: relative;
  left: -1.2rem;
  font-size: 16px;
}

.ConfigureNotes {
  position: absolute;
  top: 3rem;
  bottom: 8rem;
  left: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ConfigureNote {
  height: 2rem;
  width: 2rem;
  background: rgba(255, 255, 255, 0.2);
  color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 800;
  border-radius: 4px;
}

.ConfigureNote:hover {
  background: rgba(255, 255, 255, 0.6);
}

.ConfigureNote--active {
  background: rgba(255, 255, 255, 0.9);
}

.ConfigureVariants {
  position: absolute;
  top: 3rem;
  bottom: 8rem;
  right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.ConfigureVariant {
  height: 2rem;
  width: 3rem;
  background: rgba(255, 255, 255, 0.2);
  color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-weight: 800;
  border-radius: 4px;
}

.ConfigureVariant:hover {
  background: rgba(255, 255, 255, 0.6);
}

.ConfigureVariant--active {
  background: rgba(255, 255, 255, 0.9);
}